@font-face{
  font-family: "Lato";
  src: url("assets/Lato-Thin.ttf");
}

body{
  font-family: 'Lato';
  background-color: #29abbb;
}

#sidebar{
  width: 22%;
  height: 100%;
  float: left;
  color: #fff;
  position: fixed;
  margin: -6px;
}

#info{
  margin-left: 8%;
}

#project{
  margin-left: 22%;
  width: 72%;
  height: 100%;
  float: left;
  padding: 2%;
  margin-right: 2%;
  padding-top: 0;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #fff;
}

ul{
  padding:0px;
  margin:0px;
  margin-top: 50px;
  width: 100%;
}

#navigation li{
  list-style-type: none;
  border-top: 1px solid #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:8%;
}

#navigation li#last{
  border-bottom: 1px solid #fff;
}

.thumb{
  height: 75px;
  display: inline-block;
  margin-left: -65px;
}

#name{
  display: inline-block;
}

#graph{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navigation a{
  color: white;
  text-decoration: none; 
  width: 100%;
  height: 100%;
  display: block;
}

hr{
  border-color: #20abbb;
}


/* Styles for graphs */
.graph-row {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.graph-row>div {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin-right: 50px;
  margin-left: 50px;
}

.graph-row .title {
  text-align: center;
}

.graph-row .network-graph {
  width: 400px;
  height: 350px;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.selfloop {
  stroke-width: 3px;
}

#licensing {
  fill: green;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

textarea{
  padding: 10px;
  display: block;
  margin: 0;
  color: #000;
}